.Borde-Pàgina {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: lightblue;
    padding: 25px;
    display: flex;
    justify-content: space-around;
    
    
}

.Otros {
    
    
    width: 11%;
    background-color: white;
    color:black

}

.Otros2 {
    
    
    width: 11%;
    background-color: white;
    color:black;
    

}



    
