.Borde-Pàgina {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: lightblue;
    padding: 24px;
    display: flex;
    justify-content: space-around;
    
    
}


.Otros2 {
    
    
    width: 11%;
    background-color: white;
    color:black;
    

}


.Otrosp {
    
    
    width: 11%;
    background-color: white;
    color:black;
    border-bottom:4px solid green ;
    margin:10px;
    

}

.separador{
    margin: 120px;
    flex:1;
}

.Pie-Pàgina {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: lightblue;
    padding: 34px;
    display: flex;
    justify-content: normal;
    gap:70px;
    
}



.item {
    background: #90caf9;
    border: 10px solid #00000033;
    border-radius: 7px;
    display: flow-root;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #222;
}

.item2 {
    background: #59a3e1;
    border: 10px solid #00000033;
    border-radius: 7px;
    display: flow-root;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #222;
}

.item3 {
    background: #1a98ff;
    border: 10px solid #00000033;
    border-radius: 7px;
    display: flow-root;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #222;
}


.linea {
    border-bottom: green 4px solid;
    padding-bottom: px;
    margin-bottom: 0px;
    font-size: 1.1em;
    
}
/* Comenzemos por elementos del index y central (respecte al contenidor posicionat) */

.contenedor {
    max-width: 1100px;
    background-color: gray;
    height: 240px;
    margin: 110px auto;
    padding: 20px;

}













