.Borde-Pàgina {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: lightblue;
    padding: 24px;
    display: flex;
    justify-content: space-around;
    
    
}


.Otros2 {
    
    
    width: 11%;
    background-color: white;
    color:black;
    

}

.separador{
    margin: 120px;
}

.Borde-pie {
    position:fixed;
    bottom: 0;
    background-color: green;
    padding: 24px;
    display:flex
    
}


